<table class="data">
  <tr>
    <th>Login</th>
    <td><%= @user.login %></td>
  </tr>
  <tr>
    <th>First Name</th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>
</table>
