%h1== Reports for project '#{@project.name}'

- if @reports.blank?
  .div-info No reports generated yet
- else
  = will_paginate(@reports)
  %ul
    - @reports.each do |report|
      %li.report= link_to dates_interval(report.start_date, report.end_date), project_report_url(@project, report)

  
