%h1= "Report " + dates_interval(@report.start_date, @report.end_date) 

/If there is a current milestone where features have stories organize stories from the iteration using milestone first
= debug @milestone
- unless @milestone_stories.blank?
  %h3== Work on Milestone "#{@milestone}"
  

